@model IEnumerable<MicroShop.Data.Order>

@{
    ViewData["Title"] = "Orders List";
}

<ul>
    @foreach (var order in Model)
    {
        <li>
            @order.Id - @order.Payment.Price - @order.Status - @order.Payment.Type - @order.Payment.Status
        </li>
    }
</ul>