@model GithubDashboard.Data.Order

@{
    ViewData["Title"] = "Checkout";
}

<ul>
    @foreach (var productOrder in Model.ProductOrders)
    {
        <li>@productOrder.Product.Name - @productOrder.Product.Price - @productOrder.Count</li>
    }
</ul>

<div>Order Id - @Model.Id</div>
<div>Full Price - @Model.Price</div>
<button>Pay</button>